.form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
 
.form-field .form-group textarea::-moz-placeholder {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
  .form-field .form-group textarea::placeholder {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .form-field .form-group button {
    padding: 10px 20px;
    background-color: #008DDA;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.206);
    margin-top: 10px;
    transition: 150ms all;
    cursor: pointer;
  }
  .form-field .form-group button:hover {
    transform: translateY(-3px);
  }
  
  h2 {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    margin-top: 20px;
  }
  
  .container-note {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  
  .form-field .form-group {
    width: 90%;
  }
  .form-field .form-group input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid grey;
    font-size: 1rem;
  }
  .form-field .form-group input:focus {
    border: 2px solid #008DDA;
  }
  .form-field .form-group input::-moz-placeholder {
    font-size: 1rem;
  }
  .form-field .form-group input::placeholder {
    font-size: 1rem;
  }
  .form-field .form-group textarea {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    border: 2px solid grey;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .form-field .form-group textarea:focus {
    outline: none;
    border: 2px solid #008DDA;
    box-sizing: border-box;
  }